
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow: hidden;
}
.container {flex: 1;overflow: hidden;display: flex;}

/*字体大小*/
.font-size-0dot8rem{font-size: 0.8rem}

/*字体颜色*/
.font-color-333333{color: #333333;}
.font-color-666666{color: #666666;}
.font-color-orange{color: #F3916B}

/*背景颜色*/
.bg-color-white{background-color: white;}
.bg-color-f1f1f1{background-color: #f1f1f1;}

/*border*/
.border-top{border-top: 1px solid #e5e5e5;}








